@charset "UTF-8";

body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 187, 0);
}

h2 {
    color: crimson;
}

p {
    text-align: justify;
}